@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap'); 
.padre{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    justify-content: center;
}

.navbar-nav .menu{
    height: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 0 0.625rem;
    margin: auto;
    
}
.caja{
    float: left;
    margin-right: 10rem;
}
.input-group{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: row;
    margin-left: 380px;
    margin-right: auto;
 
  
}
.navbar-brand{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.7rem;
}
.voz{
    background: green;
}
