.contenedor{
    margin-top: 5rem;
}
.todo{
    display: flex;
    justify-content: space-between;
    
    
}
.estadistica{
    width: 20rem;
    margin-top: 2rem;
}
.notas{
    margin-top: 3rem;
    width: 600px; 
    height: 150px; 
    background: #FFFFFF;
    text-align: center;
  
}
.imagenes{
    display:inline;
    
}
.burbuja{
    width: 100%;;
}

.texto{
    position: relative;
    display: inline-block;
    
}

.centrado{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}
#table{
    background-color: #396A6D;
    color: white;

}
thead{
    background: #518071;
    color: white;
}
tbody{
    background: #F2ECFF;
}
