.text-muted{
    color: white!important;

}
.contenedor{
    margin-top: 5rem;
    margin-bottom: 3rem;
    
}
.todo{
    display: flex;
    justify-content: space-between;
    
    
}
.estadistica{
    width: 20rem;
    margin-top: 2rem;
}
.card{
    background: #00A49B;
    color: white;
    border-color: #C3D6D4;
}
.card .text-center{
    border-color: transparent;
}
.notas{
    margin-top: 3rem;
    width: 600px; 
    height: 150px; 
    background: #FFFFFF;
    text-align: center;
  
}
.imagenes{
    display:inline;
    
}
.burbuja{
    width: 100%;;
}

.texto{
    position: relative;
    display: inline-block;
    
}

.centrado{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}
#table{
    background-color: #396A6D;
    color: white;

}
thead{
    background: #518071;
    color: white;
}
tbody{
    background: #F2ECFF;
}
.osito{
    margin-top: 4rem;
    text-align: center;

}

.g-2, .gx-2 {
    --bs-gutter-x: 0rem;
}

.contenedor2{
    margin-top: 2rem;
}
